html,
body {
  margin: 0;
  background-color: #fbfafb;
  max-width: 100%;
  overflow-x: hidden;
}
li {
  list-style-type: none;
}

/* -------------------------------------------- Menu --------------------------------------------*/

.menu {  
  position: fixed;
  padding-top: 3vw;
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);  
  width: 100vh;
  display: flex;
  justify-content: center;
  z-index: 9999;
}

.menu ul {
  margin: 0;
  text-align: center;
  /* border: solid 2px black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  list-style: none;
  display: inline;
  margin: 0.8vw 0vw;
  padding: 0 3vw;
}

.menu-item-one {
  border-left: solid 2px black;
  border-right: solid 2px black;
}

.menu-list p {
  display: inline-block;
  margin-bottom: 0;
}

.menu-title {
  color: black;
  font-family: "Montserrat", serif;
  font-weight: bold;
  letter-spacing: 0.15vw;
  font-size: 0.8vw;
}

.menu-code {
  font-family: "Montserrat", serif;
  font-weight: 700;
  letter-spacing: 0.15vw;
  font-size: 0.8vw;
  color: black;
  padding-right:0.8vw;
}

.menu-list:hover p{
  color: #c6c6c6;
  transition: 0.3s;
  cursor: pointer;
}

.active p{
  color: #ac926c;
 }

@media (max-width: 768px) { 
  .menu-item-one {
    border-left: solid 1.5px black;
    border-right: solid 1.5px black;
  }
}

@media (max-width: 480px) { 
  .menu {
    display: none;
  }
  .menu-title {
    color: black;
    font-family: "Montserrat", serif;
    font-weight: bold;
    letter-spacing: 1vw;
    font-size: 8vw;
  }
  .menu-code {
    font-family: "Montserrat", serif;
    font-weight: 500;
    letter-spacing: 1vw;
    font-size: 4vw;
    color: black;
    padding-right:0.8vw;
  }
}

/* -------------------------------------------- Footer --------------------------------------------*/

.footer {
  overflow: hidden;
  width: 50%;
  margin-top: 10vw;
  display: flex;
  justify-content: center;
  margin: 10vw auto 2vw auto;
  padding-left: 7vw;
}

.footer-list {
  padding: 0 1vw;
}

.footer-behance {
  background-image: url("./asset/FooterBehance.png");
  background-size: contain;
  width: 2.8vw;
  height: 2.8vw;
  background-repeat: no-repeat;
}

.footer-behance:hover {
  background-image: url("./asset/FooterBehanceHover.png");
  background-size: contain;
  width: 2.8vw;
  height: 2.8vw;
  background-repeat: no-repeat;
  transition: 0.2s;
  cursor: pointer;
}

.footer-linkedin {
  background-image: url("./asset/FooterLinkedIn.png");
  background-size: contain;
  width: 2.7vw;
  height: 2.7vw;
  background-repeat: no-repeat;
}

.footer-linkedin:hover {
  background-image: url("./asset/FooterLinkedInHover.png");
  background-size: contain;
  width: 2.7vw;
  height: 2.7vw;
  background-repeat: no-repeat;
  transition: 0.2s;
  cursor: pointer;
}

.footer-email {
  background-image: url("./asset/FooterEmail.png");
  background-size: contain;
  width: 2.8vw;
  height: 2.8vw;
  background-repeat: no-repeat;
}

.footer-email:hover {
  background-image: url("./asset/FooterEmailHover.png");
  background-size: contain;
  width: 2.8vw;
  height: 2.8vw;
  background-repeat: no-repeat;
  transition: 0.2s;
  cursor: pointer;
}

@media (max-width: 480px) { 

  .footer {
    padding-left: 0vw;
  }

  .footer-list {
    padding: 0 4vw;
  }

  .footer-behance, .footer-behance:hover {
    width: 8vw;
    height: 8vw;
  }

  .footer-linkedin, .footer-linkedin:hover {
    width: 7.9vw;
    height: 7.9vw;
  }
  
  .footer-email, .footer-email:hover {
    width: 8vw;
    height: 8vw;
  }
}

/* -------------------------------------------- Home --------------------------------------------*/

.wrapper-grid {
  display: grid;
  grid-template-columns: 2.5fr 3fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 70%;
  margin: auto;
  padding-left: 5vw;
}

.home-intro-img {
  width: 80%;
  height: auto;
}

.home-project-grid {
  margin: auto;
  width: 70%;
  padding-left: 7vw;
}

.home-title {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  letter-spacing: 0.2vw;
  font-size: 2.1vw;
  color: #AB926C;
  text-align: right;
}

.home-sample-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3vw;
}

.home-sample-img {
  width: 100%;
  height: auto;
}

.content-subtitle {
  padding-left: 3vw ;
  font-family: "Montserrat", serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: left;
  padding-bottom: 2vw;
  color: #b6b6b6;
  font-size: 0.8vw;
}

.content-details h2{
  padding-left: 3vw ;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  letter-spacing: 0.2vw;
  font-size: 1.5vw;
  color: black;
  text-align: left;
  margin-bottom: 0.5vw;
}

.one {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.phone-wrapper-grid,.phone-home-project-grid, .phone-footer {
  display: none;
}

.home-titletwo {
  font-family: "Montserrat", serif;
  font-weight: 700;
  letter-spacing: 0.7vw;
  text-align: left;
  font-size: 5vw;
}

.home-titlefour {
  text-align: left;
  font-family: "Montserrat", serif;
  font-weight: 400;
  letter-spacing: 0.16vw;
  font-size: 1vw;
  line-height: 2;
}

.overlay {
  background: rgba(255,255,255,0.92);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  margin:0;
  padding:0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content-details {
  position: absolute;
  text-align: center;
  padding: 0 1rem;
  width: 100%;
  top: 40%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.proj-one:hover .content-details {
  top: 85%;
  left: 50%;
  opacity: 1;
}

.fadeIn-bottom{
  top: 110%;
}

.proj-one {
  position: relative;
}

.proj-one:hover .overlay {
  opacity: 1;
}

@media (max-width: 480px) { 
  .wrapper-grid,.home-project-grid, .footer {
    display: none;
  }

  .phone-wrapper-grid {
    display: block;
    width: 80vw;
    margin: auto;
    margin-top: 20vw;
    padding-left: 0vw;
  }
  
  .phone-home-project-grid {
    display: block;
    padding-left: 0vw;
  }

  .phone-home-intro-img {
    width: 60%;
    display: block;
    height: auto;
    margin: auto;
  }

  .phone-home-intro-container {
    justify-content: center;
  }

  .home-titletwo {
    margin-top: 10vw;
    font-family: "Montserrat", serif;
    font-weight: 700;
    letter-spacing: 0.7vw;
    font-size: 8vw;
    text-align: center;
  }
  
  .home-titlefour {
    text-align: center;
    font-family: "Montserrat", serif;
    font-weight: 400;
    letter-spacing: 0.2vw;
    font-size: 3vw;
    line-height: 2;
  }

  .home-title {
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    letter-spacing: 0.8vw;
    font-size: 6vw;
    color: #AB926C;
    text-align: center;
    margin-top: 20vw;
  }
  
}

/* -------------------------------------------- About --------------------------------------------*/

.about-intro-img {
  width: 70%;
  height: auto;
  display: block;
  margin: auto;
}

.about-wrapper {
  width: 100%-5vw;
  height: 100vh;
  margin: auto;
  margin-left: 5vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.about-content {
  width: 55vw;
  display: block;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start
}

.about-two {
  flex-direction:column;
  grid-gap: 2.5vw;
}

.about-three {
  width: 55vw;
  margin: auto
}

td, th {
  border: none;
}

.gap {
  width: 10vw;
}

.about-four {
  width: 65vw;
  margin: auto
}

.about-titleone {
  text-align: center;
  font-family: "Montserrat", serif;
  font-weight: 400;
  letter-spacing: 0.2vw;
  font-size: 0.9vw;
  color: #B6B6B6;
}

.about-titletwo {
  text-align: center;
  font-family: "Montserrat", serif;
  font-weight: 400;
  letter-spacing: 0.16vw;
  font-size: 1vw;
  line-height: 2
}

.about-title-edu {
  font-family: "Montserrat", serif;
  font-weight: 700;
  letter-spacing: 0.3vw;
  text-align: left;
  font-size: 1.6vw;
}

.about-title-degree {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  letter-spacing: 0.2vw;
  text-align: left;
  color: #a58e68;
  font-size: 1.8vw;
  margin-bottom: 1vw;
}

.about-title-degreename {
  text-align: left;
  font-family: "Montserrat", serif;
  font-weight: 500;
  letter-spacing: 2.3px;
  font-size: 1vw;
  margin-bottom: 1vw;
}

.about-title-uni {
  font-family: "Montserrat", serif;
  font-weight: 400;
  letter-spacing: 0.14vw;
  text-align: left;
  color: #b6b6b6;
  font-size: 1vw;
}

.about-skills {
  text-align: left;
  font-family: "Montserrat", serif;
  font-weight: 500;
  letter-spacing: 2.3px;
  font-size: 1vw;
  margin-bottom: 1vw;
  line-height: 3;
}

.about-content-four {
  display: block;
}

.about-software-img {
  width: 89%;
  height: auto;
  display: block;
}

.about-footer {
  overflow: hidden;
  width: 50%;
  margin: auto;
  margin-top: 10vw;
  display: flex;
  justify-content: center;
  padding-left: 3vw;
  position: fixed;
   left: 0;
   bottom: 2vw;
   width: 100%;
   background-color: rgba(251, 250, 251,0.92);
   text-align: center;
}

.mobile-nav, .education-phone-wrapper-grid, .about-phone-wrapper-grid {
  display: none;
}

@media (max-width: 480px) { 

  .about-titleone {
    text-align: center;
    font-family: "Montserrat", serif;
    font-weight: 400;
    letter-spacing: 0.2vw;
    font-size: 8vw;
    color: #B6B6B6;
  }
  
  .about-titletwo {
    text-align: center;
    font-family: "Montserrat", serif;
    font-weight: 400;
    letter-spacing: 0.16vw;
    font-size: 10vw;
    line-height: 2
  }

  section {
    display: none;
  }

  .education-phone-wrapper-grid {
    display: block;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-bottom: 4vw;
  }

  .about-phone-wrapper-grid {
    display: block;
    margin: auto;
    margin-top: 30vw;
    width: 80%;
    
  }

  .about-titleone {
    letter-spacing: 0.4vw;
    font-size: 2vw;
    padding-bottom: 5vw;
  }
  
  .about-titletwo {
    letter-spacing: 0.2vw;
    font-size: 2.8vw;
    line-height: 2
  }

  .about-intro-img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 15vw;
  }

  .about-title-edu {
    letter-spacing: 0.3vw;
    font-size: 3.5vw;
  }
  
  .about-title-degree {
    font-size: 4.5vw;
    margin-bottom: 1vw;
  }
  
  .about-title-degreename {
    letter-spacing: 2.3px;
    font-size: 2.2vw;
    margin: 2vw 0;
  }
  
  .about-title-uni {
    font-family: "Montserrat", serif;
    font-weight: 400;
    letter-spacing: 0.14vw;
    text-align: left;
    color: #b6b6b6;
    font-size: 2vw;
  }

  .about-footer {
    padding-left: 0vw;
    position: static;
     left: 0;
     bottom: 2vw;
     width: 100%;
     background-color: rgba(251, 250, 251,0.92);
     text-align: center;
  }

}

/* Media Queries */

/* @media (max-width: 706px) {
  .wrapper-grid {
    grid-template-columns: 2fr 2.5fr;
    grid-gap: 35px;
    height: 40vh;
    margin-top: 10vh;
  }
  .projone-wrapper-grid {
    grid-template-columns: 2fr 3fr;
    width: 95%;
    grid-gap: 20px;
    height: 65vh;
  }
  .projtwo-wrapper-grid {
    grid-template-columns: 2fr 3fr;
    width: 95%;
    grid-gap: 20px;
    height: 65vh;
  }
  .projthree-wrapper-grid {
    grid-template-columns: 2fr 4fr;
    width: 95%;
    height: 65vh;
  }
  .projfour-wrapper-grid {
    grid-template-columns: 2fr 4fr;
    width: 95%;
    height: 65vh;
  }
  .projfive-wrapper-grid {
    grid-template-columns: 2fr 4fr;
    width: 95%;
    height: 65vh;
  }

  .home-intro-img {
    width: 70%;
    height: auto;
  }
  .projtwo-cover-img {
    width: 65%;
  }

  .home-intro-titleone,
  .home-intro-titletwo {
    font-size: 1.6rem;
  }
} */

/* @media (max-width: 480px) {
  .wrapper-grid {
    grid-template-columns: 2.5fr 4fr;
    grid-gap: 15px;
    width: 90%;
    height: 20vh;
    margin-top: 10vh;
  }
  .projone-wrapper-grid {
    display: none;
  }
  .projtwo-wrapper-grid {
    display: none;
  }
  .projone-phone-wrapper-grid,
  .projfive-phone-wrapper-grid {
    margin-top: 10vh;
    display: block;
    width: 85%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  .projfive-phone-wrapper-grid {
    margin-top: 5vh;
  }
  .projtwo-phone-wrapper-grid,
  .projthree-phone-wrapper-grid {
    margin-top: 5vh;
    display: block;
    width: 85%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  .projfour-phone-wrapper-grid {
    margin-top: 5vh;
    display: block;
    width: 85%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  .projthree-wrapper-grid {
    display: none;
  }
  .projfour-wrapper-grid {
    display: none;
  }
  .projfive-wrapper-grid {
    display: none;
  }

  .home-intro-img {
    width: 80%;
    height: auto;
  }
  .projone-cover-img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .projtwo-cover-img {
    width: 40%;
    height: auto;
    margin-bottom: 3rem;
  }
  .projthree-cover-img {
    width: 100%;
    margin-bottom: 3rem;
  }
  .projfour-cover-img {
    width: 70%;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .projfive-cover-img {
    width: 100%;
    margin-bottom: 3rem;
  }

  .home-intro-titleone,
  .home-intro-titletwo {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.3rem;
  }
  .proj-cover-titleone {
    line-height: 1;
    letter-spacing: 2px;
    font-size: 1.3rem;
  }
  .proj-cover-titletwo {
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    margin-top: -1vh;
  }
  .proj-cover-titlethree {
    font-size: 0.9rem;
    padding: 0;
    margin-top: -1rem;
  }
  .proj-cover-titlefour {
    font-size: 0.8rem;
    line-height: 0;
  }
}

@media (max-width: 480px) {
  .content-area {
    margin-left: 0rem;
  }

  .home-container {
    display: none;
  }

  .wrapper-grid {
    grid-template-columns: 2.5fr 3fr;
    grid-gap: 15px;
    width: 90%;
    height: 20vh;
    margin-top: 15vh;
  }
  .projone-phone-wrapper-grid,
  .projtwo-phone-wrapper-grid {
    margin-top: 7vh;
    display: block;
    width: 70%;
  }
  .projthree-phone-wrapper-grid {
    margin-top: 7vh;
    display: block;
    width: 70%;
  }
  .projfour-phone-wrapper-grid {
    margin-top: 7vh;
    display: block;
    width: 70%;
  }
  .projfive-phone-wrapper-grid {
    margin-top: 7vh;
    display: block;
    width: 70%;
  }

  .home-intro-img {
    width: 60%;
  }
  .projone-cover-img {
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .projtwo-cover-img {
    width: 50%;
  }
  .projthree-cover-img {
    width: 100%;
  }
  .projfour-cover-img {
    width: 80%;
  }
  .projfive-cover-img {
    width: 100%;
  }

  .home-intro-titleone,
  .home-intro-titletwo {
    font-size: 1.1rem;
  }
  .proj-cover-titleone {
    line-height: 0;
    letter-spacing: 2px;
    font-size: 1.2rem;
  }
  .proj-cover-titletwo {
    font-size: 1.8rem;
    letter-spacing: 1.5px;
  }
  .proj-cover-titlethree {
    line-height: 0;
    font-size: 0.9rem;
    padding: 0 0 0.2rem 0;
  }
  .proj-cover-titlefour {
    line-height: 0;
    font-size: 1rem;
  }

  .logo-home {
    display: none;
  }

  .footer {
    margin-top: 10vw;
    width: 85%;
  }
}

@media (max-width: 362px) {
  .wrapper-grid {
    grid-gap: 15px;
    width: 90%;
    margin-top: 12vh;
  }
  .projone-phone-wrapper-grid {
    margin-top: 5vh;
    display: block;
    width: 70%;
  }
  .projtwo-phone-wrapper-grid {
    margin-top: 2vh;
    display: block;
    width: 70%;
  }
  .projthree-phone-wrapper-grid {
    margin-top: 10vh;
    display: block;
    width: 70%;
    height: 49vh;
  }
  .projfour-phone-wrapper-grid {
    margin-top: 0vh;
    display: block;
    width: 70%;
  }
  .projfive-phone-wrapper-grid {
    margin-top: 12vh;
    display: block;
    width: 70%;
  }

  .home-intro-titleone,
  .home-intro-titletwo {
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
  }
}

@media (max-width: 320px) {
  .content-area {
    margin-left: 0rem;
  }

  .home-container {
    display: none;
  }

  .wrapper-grid {
    grid-template-columns: 2.5fr 3fr;
    grid-gap: 15px;
    width: 90%;
    margin-top: 15vh;
    
  }
  .projone-phone-wrapper-grid {
    display: block;
    width: 70%;
    height: auto;
  }
  .projone-phone-wrapper-grid,
  .projtwo-phone-wrapper-grid {
    display: block;
    width: 70%;
    height: auto;
  }
  .projthree-phone-wrapper-grid {
    display: block;
    width: 70%;
    height: auto;
  }
  .projfour-phone-wrapper-grid {
    display: block;
    width: 70%;
    height: auto;
  }
  .projfive-phone-wrapper-grid {
    display: block;
    width: 70%;
    height: auto;
  }

  .home-intro-img {
    width: 60%;
  }
  .projone-cover-img {
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .projtwo-cover-img {
    width: 50%;
  }
  .projthree-cover-img {
    width: 100%;
  }
  .projfour-cover-img {
    width: 80%;
  }
  .projfive-cover-img {
    width: 100%;
  }

  .home-intro-titleone,
  .home-intro-titletwo {
    font-size: 1.1rem;
  }
  .proj-cover-titleone {
    line-height: 0;
    letter-spacing: 2px;
    font-size: 1.2rem;
  }
  .proj-cover-titletwo {
    font-size: 1.8rem;
    letter-spacing: 1.5px;
  }
  .proj-cover-titlethree {
    font-size: 0.9rem;
    padding: 0 0 0.2rem 0;
  }
  .proj-cover-titlefour {
    line-height: 0;
    font-size: 1rem;
  }
} */



/* _______________________________________________________________________________________ */

/* About Me */

/* About Intro */
/* .about-intro-img {
  width: 100%;
  height: auto;
} */

/* .intro-wrapper-grid {
  display: grid;
  grid-template-columns: 2fr 3.5fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 80%;
  margin: auto;
} */





/* @media (max-width: 806px) {
  .intro-wrapper-grid {
    grid-template-columns: 2fr 3.9fr;
  }


  .about-titlefour {
    text-align: left;
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 1vw;
    line-height: 2;
  }

}

@media (max-width: 706px) {
  .intro-wrapper-grid {
    grid-template-columns: 2fr 4fr;
    gap: 10px;
    height: 40vh;
    margin-top: 10vh;
  }

  .about-titlefour {
    text-align: left;
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 1vw;
    line-height: 2;
  }


  .about-titlethree {
    font-family: "Cormorant SC", serif;
    font-weight: 400;
    text-align: left;
    color: #a58e68;
    line-height: 1.1;
    font-size: 5.5vw;
  }

}

@media (max-width: 480px) {
  .intro-wrapper-grid {
    grid-template-columns: 2fr 5fr;
    gap: 10px;
    margin-top: 10vh;
    width: 85%;
    height: 20vh;
    margin-top: 10vh;
    margin-bottom: 10vw;
  }



  .about-titlethree {
    line-height: 0.7;
  }

  .about-titleone {
    height: 0vw;
    margin-bottom: 5vw;
  }
}

@media (max-width: 480px) {
  .intro-wrapper-grid {
    grid-template-columns: 2.2fr 3fr;
    grid-gap: 0px;
    width: 75%;
    height: 20vh;
    margin-top: 15vh;
  }

}

@media (max-width: 362px) {
  .about-titletwo {
    margin-bottom: 4vw;
  }

  .about-titlethree {
    margin-bottom: 4vw;
  }

} */

/* About Education */

/* .education-wrapper-grid{
  display: grid;
  grid-template-columns: 3fr 5fr;
  justify-content: center;
  width: 75%;
  margin: auto;
  margin-bottom: 4vw;
} */



/* .skills-wrapper-grid {
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-gap: 40px;
  justify-content: center;
  width: 78%;
  margin: auto;
  margin-bottom: 4vw;
  background-color: aliceblue;
} */



/* .about-title-in-learning {
  font-family: "Montserrat", serif;
  font-weight: 700;
  letter-spacing: 0.3vw;
  text-align: left;
  font-size: 1.8vw;
} */

/* @media (max-width: 806px) {
  .education-wrapper-grid {
    display: grid;
    grid-template-columns: 3fr 5fr;
    justify-content: center;
    width: 75%;
    margin: auto;
    margin-bottom: 2vw;
  }
}

@media (max-width: 706px) {
  .education-wrapper-grid {
    display: grid;
    grid-template-columns: 3fr 5fr;
    justify-content: center;
    width: 78%;
    margin: auto;
  }

}

@media (max-width: 480px) {
  .education-wrapper-grid {
    display: grid;
    grid-template-columns: 3fr 5fr;
    justify-content: center;
    width: 90%;
  }
}

@media (max-width: 480px) {
  .education-wrapper-grid {
    display: none;
  }

  .about-title-edu {
    margin-bottom: 1vw;
  }

  .about-title-uni {
    margin-bottom: 2.5vw;
  }

} */


/* _______________________________________________________________________________________ */

/* Projects */

/* .allproj-title {
  text-align: left;
  font-family: "Montserrat", serif;
  font-weight: 500;
  letter-spacing: 0.3vw;
  font-size: 1.5vw;
  line-height: 2;
  text-transform: uppercase;
} */

/* .proj-content-area {
  margin-left: 13rem;
} */

/* .proj-title-container {
  width: 85%;
  margin: auto;
  padding-top: 7vw;
} */

/* .projects-wrapper-grid {
  display: grid;
  grid-template-columns: auto auto;
  width: 85%;
  gap: 10px;
  margin: auto;
} */

/* .proj-two {
  grid-row-end: span 2;
} */

/* .proj-one-img, .proj-two-img, .proj-three-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* .proj-four, .proj-five{
  line-height: 0;
} */

/* .projects-single-wrapper-grid {
  display: block;
  width: 85%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
} */

/* .proj-five {
  margin-top: 10px;
} */







/* .projects-phone-wrapper-grid {
  display: none;
} */

/* .projects-footer {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  width: 95%;
  margin: auto;
  margin-top: 8vw;
  margin-bottom: 1vw;
} */

/* .projects-footer-link,
.projects-footer-link-two {
  display: block;
  color: black;
  font-family: "Montserrat", serif;
  font-weight: 400;
  letter-spacing: 0.2vw;
  font-size: 0.8vw;
  text-decoration: none;
  float: left;
}

.projects-footer-link-two {
  color: #a58e68;
  float: right;
  padding: 0 0 0 2rem;
}

.projects-footer-link-two:hover {
  color: #c2c2c2;
  transition: 0.4s;
  cursor: pointer;
} */

/* _______________________________________________________________________________________ */

/* Project One */


/* @media (max-width: 480px) {
  .projects-footer {
    margin-top: 5vh;
  }
}

@media (max-width: 480px) {

  .projects-footer {
    width: 85%;
  }
}

@media (max-width: 320px) {
  table {
    margin-bottom: 0;
  }
  .proj-section-content-two {
    margin-bottom: 0vw;
  }
  .proj-duration {
    margin-top: 1vw;
  }

} */

/* _______________________________________________________________________________________ */

/* Project Two */

/* .projtwo-intro-container {
  background-color: black;
}


.projtwo-section-one-single {
  margin-left: 4.7vw;
  margin-top: 2vw;
}

 */

/* .projtwo-section-container {
  width: 85%;
  grid-gap: 2vw 10vw;
  margin-left: 4.7vw;
  margin-top: 3vw;
} */

/* .projtwo-section-three {
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 90%;
  margin-left: 4.7vw;
  margin-top: 5vw;
  justify-content: center;
  align-items: center;
} */



/* _______________________________________________________________________________________ */

/* Project Four */

.projfour-intro-container {
  background-color: #ece7e1;
}

.proj-section-proposal-content-one {
  text-align: left;
  font-family: "Montserrat", serif;
  font-weight: bold;
  letter-spacing: 0.1vw;
  font-size: 0.95vw;
  margin-bottom: 1vw;
  line-height: 2.3;
  text-align: left;
  /* background-color: #a58e68; */
}

.proj-section-proposal-content-two {
  text-align: left;
  font-family: "Montserrat", serif;
  font-weight: 500;
  letter-spacing: 0.1vw;
  font-size: 0.95vw;
  margin-bottom: 1vw;
  line-height: 2.3;
  text-align: left;
  /* background-color: #a58e68; */
}



.projfour-design-section-two {
  display: block;
  width: 75%;
  margin-left: 4.7vw;
  margin: 8vw auto 12vw auto;
}





@media (max-width: 480px) {

  body
  {
    margin: 0;
    padding: 0;
  }

  .mobile-nav {
    display: block
  }

  #menuToggle
  {
    display: block;
    position: fixed;
    top: 50px;
    left: 50px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a
  {
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
  }

  #menuToggle a:hover
  {
    color: tomato;
  }


  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }

  /*
  * Just a quick hamburger
  */
  #menuToggle span
  {
    display: block;
    width: 5.2vw;
    height: 2.4px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    /* border-radius: 1px; */
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }

  /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, 1px);
    background: #232323;
  }

  /*
  * But let's hide the middle one.
  */
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
  * Ohyeah and the last one should go the other direction
  */
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -4px);
  }

  /*
  * Make this absolute positioned
  * at the top left of the screen
  */
  #menu
  {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
  }

  /*
  * And let's slide it in from the left
  */
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }

}


/* -------------------------------------------- Proj One --------------------------------------------*/

.proj-subtitle {
  text-align: left;
  font-family: "Montserrat", serif;
  font-weight: 600;
  letter-spacing: 0.23vw;
  font-size: 1.5vw;
  margin-bottom: 0;
  color: white;
}

.proj-duration {
  font-family: "Montserrat", serif;
  font-weight: 400;
  letter-spacing: 0.2vw;
  text-align: left;
  color: #b6b6b6;
  font-size: 0.95vw;
  padding-top: 2vw;
}

.proj-one-video {
  width: 10%;
  /* position: relative;
  top: 50%;
  transform: translateY(-50%); */
  display: block;
  margin: auto;
}

.header {
  display: block;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
}

.header_link {
  width: 100%;
  text-align: left;
  padding-left: 3vw;
  border: none;
  border-radius: 0%;
  color: black;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 0.8vw;
  color: black;
  text-transform: capitalize;
}

.selected {
  background-color: #d7dff0;
  text-align: left;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

#overview{
  height: auto;
  margin: 13vw 3vw 0vw 3vw;
  margin-right: 5vw;
}

#designfirst {
  height: auto;
  padding: 8vw 3vw 2vw 3vw;
  margin-right: 5vw;
}

#user {
  height: auto;
  padding: 8vw 3vw 2vw 3vw;
  margin-right: 5vw;
}

#usabilitystudy {
  height: auto;
  padding: 8vw 3vw 2vw 3vw;
  margin-right: 5vw;
}

#designrefine{
  height: auto;
  padding: 5vw 3vw 2vw 3vw;
  margin-right: 5vw;
}

#responsivedesign{
  height: auto;
  padding: 5vw 3vw 2vw 3vw;
  margin-right: 5vw;
}

#conclusion{
  height: auto;
  padding: 5vw 3vw 0vw 3vw;
  margin-right: 5vw;
}

button {
  display: block;
}

.proj-one-content-area {
  float: right;
  width: 88%;
  margin: auto;
}

#sidebar {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 22%;
	overflow: auto;
}

#content {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 78%;
	overflow: auto;
}

.proj-one-video {
  width: 35%;
  display: block;
  z-index: 1000;
}

.proj-video-container {
  width: 100vw;
  height: 100vh;
  background-color: #3955d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proj-sub-video-container {
  display: flex;
  width: 60vw;
  align-items:center;
  margin-left: auto;
  gap: 5vw;
}

.proj-video-content {
  background-color: #3955d9;
}

.proj-category {
  border: solid 1px black;
  width: max-content;
  padding: 0.5vw 1vw;
  background-color: white;
  margin-bottom: 3vw;
  box-shadow: 0.3vw 0.3vw black;
}

.proj-category-name {
  color:#3955d9;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  letter-spacing: 0.2vw;
  font-size: 1.2vw;
  margin-bottom: 0;
}

.projone-subsection {
  display: flex;
  gap: 5vw;
  padding-top: 2vw;
}

.proj-section-container {
  border: solid 1.5px black;
  width: max-content;
  padding: 0.5vw 1.5vw;
  background-color: #849fd6;
  margin-bottom: 5vw;
  box-shadow: 0.3vw 0.3vw black;
}

.proj-section-name {
  color:white;
  font-family: "Montserrat", serif;
  font-weight: bold;
  letter-spacing: 0.2vw;
  font-size: 1.2vw;
  margin-bottom: 0;
}

.proj-section-subtitle {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  letter-spacing: 0.18vw;
  text-align: left;
  color:#3955d9;
  font-size: 1.8vw;
  margin-bottom: 0.8vw;
}

.proj-section-quote {
  text-align: center;
  font-family: "Montserrat", serif;
  font-weight: 800;
  letter-spacing: 0.2vw;
  font-size: 1.5vw;
  margin-bottom: 1vw;
  line-height: 2.3;
  color:#3955d9;
  font-style: italic;
  margin: 2vw 0vw;
}

.proj-section-spacing {
  margin-top: 3vw;
}

.projone-findings-img {
  width: 35%;
  display: block;
  margin: auto;
  margin-top: 2.5vw;
  margin-bottom: 0.8vw;
}

.projone-findings-img-sub {
  width: 28%;
  display: block;
  margin: auto;
  margin-top: 2.5vw;
  margin-bottom: 0.8vw;
}

.projone-footer {
  overflow: hidden;
  width: 50%;
  margin-top: 10vw;
  display: flex;
  justify-content: center;
  margin: 10vw 0 2vw 0;
}

.proj-section-content {
  text-align: left;
  font-family: "Montserrat", serif;
  font-weight: 500;
  letter-spacing: 0.1vw;
  font-size: 0.95vw;
  margin-bottom: 1vw;
  line-height: 2.3;
}

.proj-section-content-bold {
  font-weight: 800;
}

.proj-section-content-two {
  text-align: left;
  font-family: "Montserrat", serif;
  font-weight: 500;
  letter-spacing: 0.1vw;
  font-size: 0.9vw;
  margin-bottom: 4vw;
  line-height: 2.3;
}

.proj-link-button {
  text-align: left;
  font-family: "Montserrat", serif;
  font-weight: 400;
  letter-spacing: 0.2vw;
  font-size: 0.7vw;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.proj-link-button:hover {
  letter-spacing: 0.3vw;
  transition: 0.3s;
  cursor: pointer;
  color: #c2c2c2;
}

.projone-screen-one-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.projone-prototype-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vw;
  width: 100%;
}

.proj-section-table-title {
  text-align: left;
  font-family: "Montserrat", serif;
  font-weight: bold;
  letter-spacing: 0.1vw;
  font-size: 0.95vw;
  margin-bottom: 1vw;
  line-height: 2.3;
  border: none;
  /* padding-bottom: 0; */
}

.proj-section-table-content {
  text-align: left;
  font-family: "Montserrat", serif;
  font-weight: 500;
  letter-spacing: 0.1vw;
  font-size: 0.95vw;
  margin-bottom: 1vw;
  line-height: 2.3;
  width: 83%;
  border: none;
}

.proj-section-table-title, .proj-section-table-content {
  padding: 1vw 0;
}



.projone-methodology-phone {
  display: none;
}

.proj-section-findings {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5vw;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-bottom: 4vw;
  margin-top: 3vw;
}

.proj-section-findings-title {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  letter-spacing: 0.18vw;
  text-align: left;
  color: #a58e68;
  font-size: 1.8vw;
  margin-bottom: 0.4vw;
  margin-top: 3vw;
  /* background-color: #3955d9; */
}

.proj-section-findings-content-one {
  font-family: "Montserrat", serif;
  font-weight: bold;
  letter-spacing: 0.1vw;
  font-size: 0.95vw;
  margin-bottom: 1vw;
  line-height: 2.3;
  text-align: center;
}

.proj-section-findings-content-two {
  font-family: "Montserrat", serif;
  font-weight: 500;
  letter-spacing: 0.1vw;
  font-size: 0.95vw;
  margin-bottom: 1vw;
  line-height: 2.3;
  text-align: center;
}

.projone-section-five {
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 80%;
  grid-gap: 0 5vw;
  margin-left: 4.7vw;
  margin: auto;
  margin: 8vw auto;
}

.projone-section-five-right {
  display: grid;
  grid-template-columns: 3fr 2fr;
  width: 80%;
  grid-gap: 0 3vw;
  margin-left: 4.7vw;
  margin: auto;
  margin: 8vw auto;
}

.projone-screens-img {
  display: block;
  width: 100%;
  margin: auto;
}

.proj-section-five-content {
  /* border-left: solid 0.3vw #a58e68; */
  padding-left: 2vw;
}

.proj-section-five-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projone-screen-responsive-img {
  display: block;
  width: 100%;
  margin: auto;
}

@media (max-width: 768px) {
  button {
    margin-bottom: 0vw;
  }
}

@media (max-width: 480px) { 
  #sidebar {
    display: none;
  }

  .proj-sub-video-container {
    display: block;
    width: 80vw;
    align-items:center;
    margin: auto;
    gap: 5vw;
  }

  .proj-one-video {
    width: 50%;
  }

  .proj-category {
    padding: 1vw 5vw;
    box-shadow: 0.8vw 0.8vw black;
    margin: 5vw 0;
  }
  
  .proj-category-name {
    letter-spacing: 0.6vw;
    font-size: 2.5vw;
  }

  .proj-subtitle {
    text-align: left;
    font-family: "Montserrat", serif;
    font-weight: 600;
    letter-spacing: 0.5vw;
    font-size: 3.5vw;
  }
  
  .proj-duration {
    font-family: "Montserrat", serif;
    font-weight: 400;
    letter-spacing: 0.2vw;
    text-align: left;
    color: #b6b6b6;
    font-size: 2vw;
  }

  .proj-section-container {
    border: solid 1px black;
    padding: 1vw 2vw;
    box-shadow: 0.5vw 0.5vw black;
    margin-bottom: 8vw;
  }

  .proj-section-name {
    letter-spacing: 0.8vw;
    font-size: 2.3vw;
  }
  
  .proj-section-subtitle {
    font-size: 4vw;
    margin-bottom: 0.8vw;
  }

  .proj-section-content, .proj-section-content-two {
    letter-spacing: 0.1vw;
    font-size: 2.4vw;
  }

  .phone-spacing {
    padding-bottom: 2vw;
  }

  .projone-subsection {
    display: block;
    gap: 5vw;
    padding-top: 3vw;
  }

  .proj-one-content-area {
    /* float: right; */
    margin: auto;
    float: none;
    width: 80%;
  }

  .proj-section-quote {
    letter-spacing: 0.2vw;
    font-size: 2.4vw;
  }

  .proj-link-button {
    letter-spacing: 0.5vw;
    font-size: 2vw;
  }
  
  .proj-link-button:hover {
    letter-spacing: 0.8vw;
  }

  .projone-methodology-phone {
    display: block;
    margin-bottom: 7vw;
  }

  .proj-section-table-title, .proj-section-findings-content-one {
    letter-spacing: 0.3vw;
    font-size: 2.3vw;
  }
  
  .proj-section-table-content  {
    letter-spacing: 0.1vw;
    font-size: 2.4vw;
    width: 100%;
  }

  .proj-section-findings-content-one {
    letter-spacing: 0.3vw;
    font-size: 2.3vw;
    text-align: left;
  }

  .proj-section-findings-content-two {
    letter-spacing: 0.3vw;
    font-size: 2.4vw;
    text-align: left;
  }

  .projone-findings-img {
    width: 25%;
    display: block;
    margin: auto;
    margin-top: 3vw;
    margin-bottom: 2vw;
  }
  
  .projone-findings-img-sub {
    width: 19%;
    display: block;
    margin: auto;
    margin-top: 3vw;
    margin-bottom: 2vw;
  }

  .projone-section-five {
    grid-template-columns: 3fr 3fr;
    width: 90%;
    margin: 15vw auto;
  }

  .projone-section-five-right {
    grid-template-columns: 3fr 3fr;
    width: 90%;
    margin: 8vw auto;
    grid-gap: 0 5vw;
  }

  .projone-footer {
    width: 100%;
    margin-top: 10vw;
    display: flex;
    justify-content: center;
    margin: 10vw 0 2vw 0;
  }

  table {
    display: none;
  }
  

  #content {
    width: 100%;
  }

  #overview{
    height: auto;
    margin: 13vw 3vw 0vw 3vw;
    margin-right: 0vw;
  }
  
  #designfirst {
    height: auto;
    padding: 8vw 3vw 2vw 3vw;
    margin-right: 0vw;
  }
  
  #user {
    height: auto;
    padding: 8vw 3vw 2vw 3vw;
    margin-right: 0vw;
  }
  
  #usabilitystudy {
    height: auto;
    padding: 8vw 3vw 2vw 3vw;
    margin-right: 0vw;
  }
  
  #designrefine{
    height: auto;
    padding: 5vw 3vw 2vw 3vw;
    margin-right: 0vw;
  }
  
  #responsivedesign{
    height: auto;
    padding: 5vw 3vw 2vw 3vw;
    margin-right: 0vw;
  }
  
  #conclusion{
    height: auto;
    padding: 5vw 3vw 0vw 3vw;
    margin-right: 0vw;
  }
}

/* -------------------------------------------- Proj Two --------------------------------------------*/

.projtwo-video {
  width: 35%;
  display: block;
  margin: auto;
  margin: 10vw auto;
  z-index: 1000;
}

.projtwo-video-content {
  background-color: #f2f2f2;
  margin-right: 10vw;
}

.projtwo-video-container {
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projtwo-category {
  border: solid 1px black;
  width: max-content;
  padding: 0.5vw 1vw;
  background-color: white;
  margin-bottom: 3vw;
  box-shadow: 0.3vw 0.3vw black;
}

.projtwo-subtitle {
  text-align: left;
  font-family: "Montserrat", serif;
  font-weight: 600;
  letter-spacing: 0.23vw;
  font-size: 1.5vw;
  margin-bottom: 0;
  color: black;
}

.projtwo-category-name {
  color:black;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  letter-spacing: 0.2vw;
  font-size: 1.2vw;
  margin-bottom: 0;
}

.selectedtwo {
  background-color: white;
  text-align: left;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.projtwo-section-container {
  border: solid 1.5px black;
  width: max-content;
  padding: 0.5vw 1.5vw;
  background-color: white;
  margin-bottom: 5vw;
  box-shadow: 0.3vw 0.3vw black;
}

.projtwo-section-name {
  color:black;
  font-family: "Montserrat", serif;
  font-weight: bold;
  letter-spacing: 0.2vw;
  font-size: 1.2vw;
  margin-bottom: 0;
}

.projtwo-section-subtitle {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  letter-spacing: 0.18vw;
  text-align: left;
  color:black;
  font-size: 1.8vw;
  margin-bottom: 0.8vw;
}

.projtwo-subsection {
  display: flex;
  gap: 5vw;
  padding: 0.5vw 0 2vw 0;
}

.projtwo-section-three {
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 100%;
  gap: 4vw;
  margin-top: 5vw;
  justify-content: center;
  align-items: center;
}

.projtwo-section-three-two {
  display: grid;
  grid-template-columns: 2fr 2fr;
  width: 100%;
  grid-gap: 4vw;
  margin-top: 8vw;
  justify-content: center;
  align-items: center;
}

.projtwo-section-three-phone {
  display: none;
}

.projtwo-section-four-flex-container, .projtwo-section-fourtwo-flex-container, .projtwo-section-fourthree-flex-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  grid-gap: 2vw;
  margin: auto;
  margin-top: 10vw;
  justify-content: center;
  align-items: center;
}

.projtwo-section-fourtwo-flex-container {
  grid-gap: 10px;
  margin-top: 12vw;
  align-items: flex-start;
}

.projtwo-section-fourthree-flex-container {
  grid-gap: 10px;
  margin-top: 8vw;
  margin-bottom: 8vw;
}

.projtwo-login-img {
  display: block;
  width: 90%;
  margin-left: auto;
}

.projtwo-splash-img {
  display: block;
  width: 90%;
}

.flex-component {
  background-color:#fbfafb;
  margin: 20px;
}

.projtwo-section-five-content {
  text-align: left;
  font-family: "Montserrat", serif;
  font-weight: 500;
  letter-spacing: 0.1vw;
  font-size: 0.95vw;
  margin-bottom: 1vw;
  line-height: 2.3;
  margin-top: 3vw;
}

.projtwo-section-five {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  grid-gap: 2vw 5vw;
  margin-top: 3vw;
}

.projtwo-section-findings-subtitle {
  font-family: "Montserrat", serif;
  font-weight: bold;
  letter-spacing: 0.18vw;
  text-align: center;
  color: #d8cec0;
  font-size: 1.6vw;
  margin-bottom: 0.4vw;
  /* background-color: #3955d9; */
}

.projtwo-storyboard-img {
  display: block;
  width: 100%;
  margin:auto;
  margin-top: 3vw;
}

.projtwo-wireframe-img {
  width: 100%;
}

.projtwo-section-four {
  display: grid;
  grid-template-columns: 2fr 2fr;
  width: 90%;
  grid-gap: 2vw;
  margin-left: 4.7vw;
  margin-top: 5vw;
  justify-content: center;
  align-items: center;
}

.projtwo-flex-subcontainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.projtwo-section-four-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) { 

  .projtwo-video {
    width: 50%;
  }
  
  .projtwo-category {
    padding: 1vw 5vw;
    box-shadow: 0.8vw 0.8vw black;
    margin: 5vw 0;
  }
  
  .projtwo-category-name {
    letter-spacing: 0.6vw;
    font-size: 2.5vw;
  }

  .projtwo-subtitle {
    text-align: left;
    font-family: "Montserrat", serif;
    font-weight: 600;
    letter-spacing: 0.5vw;
    font-size: 3.5vw;
  }
  
  .proj-duration {
    font-family: "Montserrat", serif;
    font-weight: 400;
    letter-spacing: 0.2vw;
    text-align: left;
    color: #b6b6b6;
    font-size: 2vw;
  }

  .projtwo-section-container {
    border: solid 1px black;
    padding: 1vw 2vw;
    box-shadow: 0.5vw 0.5vw black;
    margin-bottom: 8vw;
  }

  .projtwo-section-name {
    letter-spacing: 0.8vw;
    font-size: 2.3vw;
  }
  
  .projtwo-section-subtitle {
    font-size: 4vw;
    margin-bottom: 0.8vw;
  }

  .projtwo-subsection {
    display: block;
    gap: 5vw;
    padding-top: 3vw;
  }

  .projtwo-section-three, .projtwo-section-three-two {
    display: none;
  }

  .projtwo-section-three-phone {
    display: block;
  }

  .proj-link-button {
    letter-spacing: 0.5vw;
    font-size: 2vw;
  }
  
  .proj-link-button:hover {
    letter-spacing: 0.8vw;
  }

  .proj-section-table-title, .proj-section-findings-content-one {
    letter-spacing: 0.3vw;
    font-size: 2.3vw;
  }
  
  .proj-section-table-content  {
    letter-spacing: 0.1vw;
    font-size: 2.4vw;
    width: 100%;
  }

  .proj-section-findings-content-one {
    letter-spacing: 0.3vw;
    font-size: 2.3vw;
    text-align: left;
  }

  .proj-section-findings-content-two {
    letter-spacing: 0.3vw;
    font-size: 2.4vw;
    text-align: left;
  }

  .projtwo-login-img {
    display: block;
    width: 100%;
    margin-left: auto;
  }
  
  .projtwo-splash-img {
    display: block;
    width: 100%;
  }
  

  .projtwo-section-five-content {
    letter-spacing: 0.1vw;
    font-size: 2.4vw;
  }

  .projtwo-section-five {
    display: block;
  }

  .projtwo-section-findings-subtitle {
    letter-spacing: 0.18vw;
    font-size: 5vw;
    margin-bottom: 0.4vw;
    text-align: left;
    font-weight: 800;
    margin-top: 5vw;
  }

  .flex-component {
    margin: 5px;
  }

  .projtwo-section-fourthree-flex-container {
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    margin: auto;
    margin-top: 5vw;
  }

  .projtwo-section-four-flex-container, .projtwo-section-fourtwo-flex-container, .projtwo-section-fourthree-flex-container {
    width: 90%;
  }
}

/* -------------------------------------------- Proj Three --------------------------------------------*/

.projthree-video {
  width: 80%;
  display: block;
  margin: auto;
  margin: 5vw auto;
  z-index: 1000;
}

.projthree-video-content {
  background-color: #efefec;
  margin-right: 10vw;
}

.projthree-video-container {
  width: 100vw;
  height: 100vh;
  background-color: #efefec;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projthree-sub-video-container {
  display: block;
  /* display: flex; */
  width: 60vw;
  align-items:center;
  margin-left: auto;
  /* gap: 5vw; */
}

.selectedthree {
  background-color: #efefec;
  text-align: left;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.projthree-section-container {
  border: solid 1.5px black;
  width: max-content;
  padding: 0.5vw 1.5vw;
  background-color: #efefec;
  margin-bottom: 5vw;
  box-shadow: 0.3vw 0.3vw black;
}

.projthree-section-name {
  color:black;
  font-family: "Montserrat", serif;
  font-weight: bold;
  letter-spacing: 0.2vw;
  font-size: 1.2vw;
  margin-bottom: 0;
}

.projthree-section-subtitle {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  letter-spacing: 0.18vw;
  text-align: left;
  color:#9c9c8c;
  font-size: 1.8vw;
  margin-bottom: 0.8vw;
}

.projthree-section-quote {
  text-align: center;
  font-family: "Montserrat", serif;
  font-weight: 800;
  letter-spacing: 0.2vw;
  font-size: 1.5vw;
  margin-bottom: 1vw;
  line-height: 2.3;
  color:#9c9c8c;
  font-style: italic;
  margin: 2vw 0vw;
}

.projthree-subsection {
  display: block;
  gap: 5vw;
  padding: 0.5vw 0 2vw 0;
  padding-top: 2vw;
}

.projthree-findings-img {
  width: 15%;
  display: block;
  margin: auto;
  margin-top: 2.5vw;
  margin-bottom: 0.8vw;
}

.projthree-findings-img-sub {
  width: 12%;
  display: block;
  margin: auto;
  margin-top: 2.5vw;
  margin-bottom: 0.8vw;
}

.projthree-section-five-phone {
  display: none;
}

.content-spacing {
  margin-top: 5vw;
}

.research-spacing {
  margin-bottom: 3vw;
}

.projthree-section-spacing {
  margin-top: 7vw;
}

.projthree-section-three-container {
  margin-top: 5vw;
}

.projthree-screens-img {
  display: block;
  width: 100%;
  margin: auto;
}

.projthree-section-five {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: 100%;
  grid-gap: 0vw 4vw;
  margin: 8vw auto 12vw auto;
}

.projthree-section-five-right {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  width: 100%;
  grid-gap: 0 3vw;
  margin: 8vw auto 12vw auto;
}

.projthree-section-five-right-final {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  width: 100%;
  grid-gap: 0 3vw;
  margin: 8vw auto 8vw auto;
}

.projthree-section-five-link-button {
  text-align: left;
  font-family: "Montserrat", serif;
  font-weight: 400;
  letter-spacing: 0.2vw;
  font-size: 0.7vw;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  /* margin-left: 4.7vw; */
}

.projthree-section-five-link-button:hover {
  letter-spacing: 0.3vw;
  transition: 0.3s;
  cursor: pointer;
  color: #c2c2c2;
}

.projthree-link-button-container {
  margin-bottom: 7vw;
}

.projthree-section-accessibility {
  display: block;
  margin-left: 4.7vw;
  margin-top: 7vw;
}

.projthree-section-accessiblity-content {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15vw;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-bottom: 4vw;
  margin-top: 3vw;
}

.projthree-accessibility-img {
  display: block;
  width: 12%;
  margin: auto;
  margin-top: 2vw;
}

.projthree-link-button {
  text-align: left;
  font-family: "Montserrat", serif;
  font-weight: 400;
  letter-spacing: 0.2vw;
  font-size: 0.7vw;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.projthree-link-button:hover {
  letter-spacing: 0.3vw;
  transition: 0.3s;
  cursor: pointer;
  color: #c2c2c2;
}

@media (max-width: 768px) { 

  .projthree-video {
    width: 100%;
  }

}

@media (max-width: 480px) { 
  #sidebar {
    display: none;
  }

  .projthree-sub-video-container {
    display: block;
    width: 70vw;
    align-items:center;
    margin-left: 0vw;
  }

  .projthree-video {
    width: 100%;

    margin: 10vw auto;
  }

  .projthree-section-container {
    border: solid 1px black;
    padding: 1vw 2vw;
    box-shadow: 0.5vw 0.5vw black;
    margin-bottom: 8vw;
  }

  .projthree-section-name {
    letter-spacing: 0.8vw;
    font-size: 2.3vw;
  }
  
  .projthree-section-subtitle {
    font-size: 4vw;
    margin-bottom: 0.8vw;
  }

  .projthree-section-quote {
    letter-spacing: 0.2vw;
    font-size: 2.4vw;
  }

  .projthree-section-three-container {
    margin-top: 10vw;
  }

  .research-spacing {
    margin-bottom: 9vw;
  }

  .projthree-findings-img {
    width: 10%;
    margin-top: 5vw;
    margin-bottom: 0.8vw;
  }
  

  .projthree-section-five-phone {
    display: block;
  }

  .projthree-section-five {
    display: block;
    /* grid-template-columns: 1.5fr 1fr;
    width: 100%;
    grid-gap: 0vw 4vw; */
    margin: 15vw auto 15vw auto;
  }
  
  .projthree-section-five-right {
    display: none;
  }

  .projthree-section-five-right-final {
    display: none;
  }

  .proj-section-five-content {
    padding-left: 0vw;
  }

  .proj-section-five-text-container {
    margin-top: 5vw;
  }

  .projthree-accessibility-img {
    display: block;
    width: 11%;
    margin: auto;
    margin-top: 8vw;
  }
}

/* -------------------------------------------- Proj Four --------------------------------------------*/

.projfour-video {
  width: 80%;
  display: block;
  margin: auto;
  margin: 5vw auto;
  z-index: 1000;
}

.projfour-video-content {
  background-color: #EBE6E2;
  margin-right: 10vw;
}

.projfour-video-container {
  width: 100vw;
  height: 100vh;
  background-color: #EBE6E2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projfour-sub-video-container {
  display: block;
  width: 60vw;
  align-items:center;
  margin-left: auto;
}

.projfour-duration {
  font-family: "Montserrat", serif;
  font-weight: 400;
  letter-spacing: 0.2vw;
  text-align: left;
  color: #b6b6b6;
  font-size: 0.95vw;
  padding-top: 1vw;
}

.selectedfour {
  background-color: #f7f1e9;
  text-align: left;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.projfour-section-container {
  border: solid 1.5px black;
  width: max-content;
  padding: 0.5vw 1.5vw;
  background-color: #f7f1e9;
  margin-bottom: 5vw;
  box-shadow: 0.3vw 0.3vw black;
}

.projfour-section-name {
  color:black;
  font-family: "Montserrat", serif;
  font-weight: bold;
  letter-spacing: 0.2vw;
  font-size: 1.2vw;
  margin-bottom: 0;
}

.projfour-section-subtitle {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  letter-spacing: 0.18vw;
  text-align: left;
  color:#ccbfb5;
  font-size: 1.8vw;
  margin-bottom: 0.8vw;
}

.projfour-subsection {
  display: flex;
  gap: 5vw;
  padding: 0.5vw 0 2vw 0;
}

.projfour-section-proposal-subtitle {
  text-align: center;
  font-family: "Montserrat", serif;
  font-weight: bold;
  font-size: 3vw;
  margin-top: 3vw;
  margin-bottom: 0vw;
  text-align: left;
  color: #ccbfb5;
}

.projfour-screens-img {
  display: block;
  width: 100%;
  margin: auto;
}

.projfour-section-design {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  grid-gap: 0vw 5vw;
  margin-left: 4.7vw;
  margin: 8vw auto 12vw auto;
}


.projfour-design-section-three {
  display: grid;
  grid-template-columns: 3fr 2fr;
  width: 100%;
  grid-gap: 0vw 5vw;
  margin-left: -10vw;
  margin-top: 8vw;
  /* margin-left: 4.7vw; */
  /* margin: 8vw auto 12vw auto; */
}

.projfour-design-section-four {
  display: grid;
  grid-template-columns: 2fr 2.5fr;
  width: 100%;
  grid-gap: 0vw 5vw;
  margin-top: 15vw;
  margin-bottom: 7vw;
  margin-left: 10vw;
}

.projfour-section-five-phone {
  display: none;
}

@media (max-width: 768px) { 

  .projfour-video {
    width: 100%;
  }

}

@media (max-width: 480px) { 
  #sidebar {
    display: none;
  }

  .projfour-sub-video-container {
    display: block;
    width: 70vw;
    align-items:center;
    margin-left: 0vw;
  }

  .projfour-video {
    margin: 10vw auto;
  }

  .projfour-duration {
    font-size: 2vw;
    padding-top: 2vw;
  }

  .projfour-section-container {
    border: solid 1px black;
    padding: 1vw 2vw;
    box-shadow: 0.5vw 0.5vw black;
    margin-bottom: 8vw;
  }

  .projfour-section-name {
    letter-spacing: 0.8vw;
    font-size: 2.3vw;
  }
  
  .projfour-section-subtitle {
    font-size: 4vw;
    margin-bottom: 0.8vw;
  }

  .projfour-overview-spacing {
    margin-bottom: 4vw;
  }

  .projfour-section-proposal-subtitle {
    font-size: 5vw;
  }

  .proj-section-proposal-content-one, .proj-section-proposal-content-two {
    font-size: 2.4vw;
  }

  .projfour-section-design, .projfour-design-section-two, .projfour-design-section-three, .projfour-design-section-four {
    display: none;
  }

  .projfour-section-five-phone {
    display: block;
    margin-bottom: 10vw;
  }
}


















